# ── 데이터 파일──
data/raw/
data/processed/
*.db

# ── Python 자동 생성 파일 ──
__pycache__/
*.pyc
.venv/

# ── Jupyter 자동 생성 ──
.ipynb_checkpoints/

# ── OS 자동 생성 ──
.DS_Store
Thumbs.db

# ── VS Code 설정 ──
.vscode/

# ── 환경 변수 (API 키 같은 비밀 정보) ──
.env